@use "./constants" as c;

.btn {
  max-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  & a, & a:focus {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }

  &.btn-light, &.btn-outline-light {
    &:hover a {
      text-decoration: none;
      color: c.$dark;
    }
  }

  &.btn-lg {
    font-weight: bold;
  }
}

.btn:disabled, button:disabled, [type="button"]:disabled {
  cursor: not-allowed;
}

$card-border-radius: 0.5rem;

.card, .pf-c-card {
  // --pf-c-card--BoxShadow: 0.1rem 0.1rem 0.1rem #888 !important;

  border-radius: $card-border-radius;
  // box-shadow: $card-box-shadow;
  margin-bottom: 1.5em;

  & .bg-darker {
    background-color: c.$body-bg;
  }

  & .bg-lighter {
    background-color: c.$rh-gray-dark;
  }
}

$card-border: 2px solid c.$rh-gray;
$card-limit-padding: 1rem 1.25rem;

.card-title, .pf-c-card__title {
  border-bottom: $card-border;
  // padding: $card-limit-padding;

  display: flex;
  align-items: center;

  margin: 0;
  font-weight: bold;

  & h4, & h5 {
    margin: 0;
    font-weight: bold;
  }
}

.card-footer, .pf-c-card__footer {
  border-top: $card-border;
  // padding: $card-limit-padding;
  margin: 0;
}

input {
  &.error, &.error:focus, &.warning, &.warning:focus {
    border-width: 3px;
    border-style: solid;
    box-shadow: none;

    &.error {
      // border-color: $pf-global--danger-color--200;
      border-color: c.$danger;
    }
    &.warning {
      // border-color: c.$pf-global--warning-color--200;
      border-color: c.$warning;
    }
  }
}

.form-group .form-check-input {
  // transform: scale(1.5);
  cursor: pointer;
}

.form-label {
  font-weight: bold;
}

.form-check-label {
  margin-left: 0.5em;
}

.table thead tr td {
  border-top: none;
}
