@use "./constants" as c;

.btn, .pf-c-button {
  // max-height: 3em;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: inherit;

    &:focus, &:hover {
      --pf-global--link--TextDecoration--hover: none;
      // text-decoration: none;
    }
  }

  &.pf-m-display-lg {
    font-size: 105%;
    padding: 1em 1.5em;

    & * svg {
      height: 1.5em;
      width: 1.5em;
    }
  }


  /*
  &.btn-light, &.btn-outline-light {
    &:hover a {
      text-decoration: none;
      color: c.$dark;
    }
  }
  */
}

.btn:disabled, button:disabled, input[type="button"]:disabled {
  cursor: not-allowed;
}

.pf-c-page__header-brand-link {
  flex: inherit !important;
}

$card-border-radius: 0.5rem;
$card-border: 2px solid c.$rh-gray;

.pf-c-card {
  // --pf-c-card--BoxShadow: 0.25rem 0rem 0.1rem 0.2rem #888 !important;

  border-radius: $card-border-radius;
  margin: 0;
  margin-bottom: 1rem;

  & .bg-darker {
    background-color: c.$body-bg;
  }

  &__title, &__body {
    $card-padding-y: 1rem;

    padding-top: $card-padding-y !important;
    padding-bottom: $card-padding-y !important;
  }

  &__title {
    border-bottom: $card-border;

    display: flex;
    align-items: center;
    margin: 0;

    & .btn-line {
      margin-left: auto;
    }
  }

  &__body {
    & p:first-child {
      margin-top: 0;
    }

    & p:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    border-top: $card-border;
    margin: 0;
  }
}

.pf-c-wizard__main-body {
  max-width: c.$breakpoint-xl;

  & .pf-c-card {
    box-shadow: none;
    border-radius: 0;

    &__title, &__body {
      // $card-padding-y: 0.25rem;

      // padding-top: 0.5rem;
      padding-bottom: 0;
    }

    --pf-c-card--child--PaddingRight: 0;
    --pf-c-card--child--PaddingLeft: 0;
  }
}

input {
  &.error, &.error:focus, &.warning, &.warning:focus {
    border-width: 3px;
    border-style: solid;
    box-shadow: none;

    &.error {
      border-color: c.$pf-global--danger-color--200;
      // border-color: c.$danger;
    }
    &.warning {
      border-color: c.$pf-global--warning-color--200;
      // border-color: c.$warning;
    }
  }
}

.pf-c-check {
  align-items: center !important;
}

.table thead tr td {
  border-top: none;
}

.pf-c-tooltip {

  & p {
    margin: c.$pf-global--spacer--xs 0;
    text-align: left;
  }
}

.pf-c-form__group {
  width: 100%;

  &-label {
    font-weight: bold;
    display: inline-flex;
    align-items: center;

    margin-bottom: 0.5em;
  }

  margin-bottom: 1rem;
}

.pf-c-select__toggle {
  border: 1px solid #aaa;
}

.tooltip-icon {
  margin: 0 c.$pf-global--spacer--sm;
  height: 1.25em;
  width: 1.25em;
}

.pf-c-page__header, .hover-box {
  & a, #nav-toggle {
    padding: c.$pf-global--spacer--sm;

    border: c.$pf-global--BorderWidth--md solid transparent;
    border-radius: 0.5rem;

    &:hover, &:focus {
      text-decoration: none;
      border-color: white;

      &.light {
        border-color: c.$pf-color-black-850;
      }
    }
  }
}

.pf-c-page__sidebar-body {
  height: 100%;

  & nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between

    & .spacer {
      flex-grow: 1;
    }
  }
}


.pf-c-radio {
  &__input {
    --pf-c-radio__input--MarginTop: 0;
  }

  margin: c.$pf-global--spacer--sm;
}
