@import "~@patternfly/patternfly/sass-utilities/all";

// $body-bg: #121215;
// $body-fg: white;
$body-bg: $pf-global--BackgroundColor--200;
$body-fg: $pf-global--Color--100;

// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-utilities";

/* https://www.redhat.com/en/about/brand/standards/color */
$rh-red: #e00;
$rh-pink: #f5606d;
$rh-light-pink: #fab6b6;
$rh-deep-red: #be0000;
$rh-dark-red: #5f0000;

$rh-gray-light: #dedede;
$rh-gray: #aaaaaa;
$rh-gray-dark: #4d4d4d;
$rh-gray-darker: #2d2d2d;
$rh-gray-darkest: #151515;          /* from OpenShift console */

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$main-vertical-padding: 2rem;
$navbar-height: 4rem;
$pf-global--BorderRadius--md: 0.5rem;
