@forward "~bootstrap/scss/bootstrap";

// https://getbootstrap.com/docs/4.0/getting-started/theming/#sass-options

// plug https://getbootstrap.com/docs/4.0/getting-started/theming/#all-colors
// into
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// use the 700 for foreground on dark theme
$primary: #0278ee;
$info: #127B87;
// $success: #28a745;
$success: #208337;
$success-light: #27a745;
// $light: #f8f9fa;

$body-bg: #121215;
$body-fg: white;

$card-bg: #2d2d30;

@import "~bootstrap/scss/bootstrap";

/* https://www.redhat.com/en/about/brand/standards/color */
$rh-red: #e00;
$rh-pink: #f5606d;
$rh-light-pink: #fab6b6;
$rh-deep-red: #be0000;
$rh-dark-red: #5f0000;

$rh-gray-light: #dedede;
$rh-gray: #aaaaaa;
$rh-gray-dark: #4d4d4d;
$rh-gray-darker: #2d2d2d;
$rh-gray-darkest: #151515;          /* from OpenShift console */

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$main-vertical-padding: 2rem;
$navbar-height: 4rem;
