@use "./constants" as c;

.table td {
  vertical-align: middle;
}

.table tr {
  height: 4rem;
}

// td .btn {
  // min-width: 15ch;
// }

$header-top-height: 1rem;

#setup-header {
  margin-top: - c.$main-vertical-padding;

  z-index: 100;
  position: sticky;
  top: 0;

  width: 100%;
  height: 10rem;
  margin-bottom: 3rem;

  background-color: c.$body-bg;
}

// $setup-banner-color: #2a4a4a;
$setup-banner-color: #161f20;

#setup-header-body {
  position: absolute;
  top: $header-top-height;
  width: 100%;
  height: 100%;

  border-radius: c.$pf-global--BorderRadius--md;
  // border-radius: 0 0 $card-border-radius $card-border-radius;
  background-color: $setup-banner-color;
  box-shadow: 0.1rem 0.2rem 0.2rem #888;

  padding: 0.5rem 0;
}

#setup-header-steps {
  margin: 0 1rem;
}

#setup-header-buttons {
  padding: 0.5rem 1rem;
}

.setup-step {
  flex: 1;
  text-align: center;
  margin: 0 0.2rem;

  padding: 0.5rem 0;
  border-radius: 0.5em;
  border: 0.5px solid transparent;

  &.current {
    background-color: c.$pf-color-black-200;

    & span {
      color: c.$pf-color-black-850;
    }
  }

  color: c.$pf-color-black-200;

  text-decoration: none !important;
  &:focus, &:hover {
    border-color: #fff;
  }
}

// $setup-green: rgb(19, 161, 19);
$circle-size: 2.5rem;
$circle-font-size: 1rem;

.setup-step-circle {
  height: $circle-size;
  width: $circle-size;

  border-width: 0.2rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  font-size: $circle-font-size;

  color: c.$pf-color-black-200;

  // see SetupStepState
  &.passed {
    background-color: c.$pf-global--success-color--100;
    border-color: c.$pf-global--success-color--100;
    // background-color: c.$success-light;
    // border-color: c.$success-light;
  }

  &.current {
    background-color: c.$pf-global--success-color--100;
    border-color: c.$pf-global--success-color--100;
    // background-color: c.$success;
    // border-color: c.$success;
  }

  &.todo {
    background-color: "";
    border-color: c.$pf-global--warning-color--100;
    // border-color: c.$warning;
  }
}


.navbar {
  color: white;
  background-color: c.$rh-gray-darkest;

  height: c.$navbar-height;
}

.navbar img, .navbar i {
  height: calc(#{c.$navbar-height} * 0.6);
  font-size: calc(#{c.$navbar-height} * 0.6);
}
