html, body {
  margin: 0;
  width: 100%;
  height: 100%;

  color: var(--fg-color);
  background-color: var(--bg-color);

  line-height: 1.5em;

  --navbar-height: 4rem;
}

.navbar {
  color: white;
  background-color: var(--rh-gray-darkest);

  height: var(--navbar-height);
}

.navbar img, .navbar i {
  height: calc(var(--navbar-height) * 0.6);
  font-size: calc(var(--navbar-height) * 0.6);
}

$main-vertical-padding: 2rem;

main {
  padding: $main-vertical-padding 0;
  min-width: var(--breakpoint-sm);
  width: 80%;
  max-width: var(--breakpoint-lg);
}

a {
  color: #8df;
}

.btn a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

a:focus, a:hover {
  color: white;
}

h1 h2 h3 h4 h5 {
  font-weight: bold;
}


.text-black {
  color: black;
}

.text-white {
  color: white;
}

.b {
  font-weight: bold;
}

$card-border-radius: 0.5rem;
$card-box-shadow: 0.1rem 0.1rem 0.1rem black;

.card {
  background-color: var(--rh-gray-dark);
  color: var(--fg-color);
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  margin-bottom: 1.5em;
}

.card-title {
  border-bottom: 2px solid var(--rh-gray);
  padding: 1rem 1.25rem;

  margin: 0;
  font-weight: bold;

  & h4, & h5 {
    margin: 0;
    font-weight: bold;
  }
}

dl, ol, ul {
  padding-inline-start: 1em;
  margin-bottom: 0;
}

.btn {
  max-height: 3em;
}

.copy-btn {
  min-width: 12ch;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

input.errored, input.errored:focus {
  border-color: #f00;
  border-width: 3px;
  border-style: solid;
  box-shadow: none;
}

span.errored {
  color: var(--danger);
}

div.errored {
  color: white;
  background-color: var(--danger);
}

code, pre {
  background-color: #111;
  border-radius: 0.33em;
  padding: 0.33em;
  color: white;
}

pre {
  margin: 1em 0;
  padding: 1.5em;
}

.push-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clickable:hover, .clickable:focus {
  cursor: pointer;
  text-decoration: underline;
}

.jumbotron {
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;

  color: black;

  & > a {
    color: black;
  }
}
