html, body {
  margin: 0;
  width: 100%;
  height: 100%;

  color: var(--fg-color);
  background-color: var(--bg-color);

  --navbar-height: 4rem;

  padding: 1rem 0;
}

a {
  color: #6ad;
}

a:focus, a:hover {
  color: #aff;
}

.navbar {
  color: white;
  background-color: var(--rh-gray-darkest);

  height: var(--navbar-height);
}

.navbar img, .navbar i {
  height: calc(var(--navbar-height) * 0.6);
  font-size: calc(var(--navbar-height) * 0.6);
}

main {
  min-width: var(--breakpoint-sm);
  width: var(--breakpoint-lg);
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.btn i.fa, .btn i.fas, .btn i.fab, .btn svg {
  margin-right: 0.5em;
}
