@import "./index";

.table td {
    vertical-align: middle;
}

.table tr {
    height: 4rem;
}

td .btn {
    min-width: 15ch;
}

$header-top-height: 1rem;

.setup-header {
    margin-top: - $main-vertical-padding;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 3rem;
}

.setup-header-wrapper {
    position: relative;
}

.setup-header-background {
    position: absolute;

    background-color: $bg-color;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

// $setup-banner-color: #0c8552;
$setup-banner-color: #1c343b;

.setup-header-body {
    // top: $header-top-height;
    top: $header-top-height;
    // border-radius: 0 0 $card-border-radius $card-border-radius;
    background-color: $setup-banner-color;

    padding: 0.5rem 0;
}

.setup-header-buttons {
    padding: 1rem 1rem 0.5rem;
}

.setup-step {
    flex: 1;
    text-align: center;
    margin: 0 3rem;

    padding: 0.5rem 2rem;
    border-radius: 0.5em;

    &.current {
        background-color: $light;

        & span {
            color: black;
        }
    }

    & span {
        color: $light;
        &:focus, &:hover {
            text-decoration: none;
        }
    }
}

// $setup-green: rgb(19, 161, 19);
$circle-size: 2.5rem;
$circle-font-size: 1rem;

.setup-step-circle {
    height: $circle-size;
    width: $circle-size;

    border-width: 0.2rem;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: $circle-font-size;

    color: $light;

    // see SetupStepState
    &.passed {
        background-color: $green;
        border-color: $green;
    }

    &.current {
        background-color: $green;
        border-color: $green;
    }

    &.todo {
        background-color: "";
        border-color: $yellow;
    }
}
