@import "./index.scss";
@import "./colors.scss";

.table td {
    vertical-align: middle;
}

.table tr {
    height: 4rem;
}

td .btn {
    min-width: 15ch;
}

$header-top-height: 1rem;

.setup-header {
    margin-top: - $main-vertical-padding;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 3rem;
}

.setup-header-wrapper {
    position: relative;
}

.setup-header-background {
    position: absolute;

    background-color: var(--bg-color);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.setup-header-body {
    // top: $header-top-height;
    top: $header-top-height;
    // border-radius: 0 0 $card-border-radius $card-border-radius;
    background-color: #1c343b;
    padding: 0.5rem 0;
}

.setup-header-buttons {
    padding: 0.5rem 1rem;
    // enough vertical space so the error banner does not make the div grow
    min-height: 6em;
}

.setup-step {
    padding: 0.5rem 1rem;

    &.current {
        background-color: white;
        border: 1px solid white;
        border-radius: 1em;

        & span {
            color: black;
        }
    }

    & span {
        color: var(--fg-color);
        &:focus, &:hover {
            text-decoration: none;
        }
    }
}

$setup-green: rgb(19, 161, 19);
$circle-size: 3rem;

.setup-step-circle {
    height: $circle-size;
    width: $circle-size;

    border-width: 0.2rem;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.25rem;

    border-color: $setup-green;

    color: white;

    // see SetupStepState
    &.passed, &.current {
        // color: black;
        background-color: $setup-green;
        border-color: $setup-green;
    }

    &.todo {
        background-color: "";
    }
}
