

nav.navbar.navbar-dark.mb-4
  a.navbar-nav.text-decoration-none(title='Cluster' href='/cluster')
    img(src='/img/openshift.svg')

  div.ml-auto

  div.navbar-nav(title='App')
    a.navbar-nav.text-decoration-none(href='/app')
      i.fa.fa-github.text-white
