

nav.navbar.navbar-dark.mb-4
  //- a.navbar-nav.text-decoration-none(title='Home' href='/')
  //-   i.fas.fa-home.text-white

  div.ml-auto

  div.navbar-nav(title='Your App')
    a.navbar-nav.text-decoration-none(href='/app')
      i.fa.fa-github.text-white
